.about-me {
	font-family: 'Source Sans Pro', sans-serif;
}

.black-bg {
	background-color: black;
}

.bg-transparent {
	background-color: transparent;
}

.contact-flex {
	justify-content: space-around;
}

#roboto {
	font-family: 'Roboto', sans-serif;
}

.bold {
	font-weight: 50;
}

#features {
	background: url('../images/2.jpg');
	background-size: cover;
	background-attachment: fixed;
	height: 300px;
}

#bg-white {
	background-color: white;
}

.navbar {
	font-family: 'Playfair Display', serif;
}

.card{
   	cursor: pointer;
   	transition: .3s
}


.card:hover{
    transform: scale(1.05);
}

.icon{
   	cursor: pointer;
   	transition: .3s
}


.icon:hover{
    transform: scale(1.5);
}

.jumbotron {
	border-radius: 0px;
}

body {
	overflow-x:hidden
}

